@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho{
    background-color: rgba(6, 68, 110, 0.39);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: auto;
}

.menuCabecalho {
    display: flex;
    gap: 300px;
}

.back {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF2E7;
}

.out  {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF2E7;

} 

.logo{ 
    font-family: 'Righteous', cursive;
    font-size: 18px;
    font-weight: 400;
    color: #FFF2E7;
}

body{
    background-image: radial-gradient(rgba(40, 147, 218, 0.801), rgba(8, 99, 160, 0.897));
    width: auto;
    height: auto;  
    margin-top: 0%;
}

form {
    margin-top: 5%;
    align-items: center; 
    margin-left: 5%;
    font-size: 100%;
    font-family: 'Sarala', sans-serif; 
    color: black; 
    font: bold;    
    
}

table{
    width: 95%;
    text-align: center;
    
    
}

.coluna{
    font-family: 'Sarala', sans-serif;  
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px rgb(0, 0, 0);
    text-align: center; 
} 

.linha{
    background-color: #FFF2E7;
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
}

.editar{
    font-family: 'Sarala', sans-serif;
    color: blue;
    

}

.excluir{
    font-family: 'Sarala', sans-serif;
    background-color: red; 
    
}
.newForn{
    font-family: 'Sarala', sans-serif;  
    font-size: 12px;
    background-color: rgba(33, 43, 181, 0.781);
    color: #fff;
    border:none;
    border-radius: 10px;
    height: 55px;
    width: 120px;
    cursor: pointer;
    display: block;
    flex-direction: row;
    margin-left: 85%;
    margin-block-start: 2%;
    margin-block-end: 2%;

}


